{% extends 'msgboard/main.html' %}
{% block content %}
<div class="treehole">
	<div class="tree_title">
		<p>在树洞中说出心中的<span>秘密</span>。</p>
	</div>
	<div class="tree_thread_txt">
		<form action="{% url 'msgboard:post' %}" method="post">
			{% csrf_token %}
      <h4>带*为必填项</h4>
			<p>
				<font><b>*</b>标题：</font>
				<input type="text" class="input_1" name="title" value="{% if form.title.value %}{{ form.title.value }}{% endif %}"/>
			</p>
			<p>
				{% for error in form.title.errors %}
				<i>{{error}}</i>
				{% endfor %}
			</p>
			<p><font><b>*</b>内容：</font>
				<textarea class="input_text" name="content">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
			</p>
			<p>
				{% for error in form.content.errors %}
				<i>{{error}}</i>
				{% endfor %}
			</p>
			<p><b>*</b>秘密类别:
				{% for item in msg_tags %}
				<input type="radio" 
							 class="checkbox" name="tag" 
							 value="{{ item.text }}"
							 {% if item.text == form.tag.value %}checked{% endif %}>
				{{ item.text }}
				{% endfor %}
      </p>
			<p>
				{% for error in form.tag.errors %}
				<i>{{error}}</i>
				{% endfor %}
			</p>
			<!--
					<p>
						<input type="checkbox" />
						匿名发表
					</p>
					-->
			<p><span><input type="submit" value="提交" class="submit_btn" /></span></p>
		</form>
	</div>
</div>
{% endblock %}
