{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>TEST</title>
    <script src="{% static 'psytest/js/jquery.min.js' %}"></script>
    <script src="{% static 'psytest/js/knockout.js' %}"></script>
    <script src="{% static 'psytest/js/psytest.js' %}"></script>
    <script>
      $(document).ready(function() {
      var m = new PsyTestModel($.parseJSON("{{data|escapejs}}"));
      ko.applyBindings(m);
      });
      
    </script>
  </head>
  <body>
    <div data-bind="visible: !isEnd()">
      <b data-bind="text: question"></b>
      <div data-bind="foreach: options">
				<div>
					<input type="radio" name="testoption" data-bind="click: $parent.clickOption"></input>
					<label data-bind="text: text, click: $parent.clickOption"></label>
				</div>
      </div>
      <div>
				<input type="button" value="上一题" style="padding: 5px 15px 5px 15px;background-color: #26a5e9;color: #fff;font-size: 14px;margin-top: 10px;"
							 data-bind="click: clickUndo, visible: history().length > 0"/>
      </div>
    </div>
    <div data-bind="visible: isEnd">
      <span data-bind="text: result"></span>
    </div>
  </body>
</html>
